[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_full_version = "3.6.3"


[dev-packages]

ipython = "*"
"flake8" = "*"
isort = "*"


[packages]

coinbase = {git = "git://github.com/joshblum/coinbase-python.git"}
flask = "*"
social-auth-app-flask-peewee = "*"
flask-login = "*"
gunicorn = "*"
"psycopg2" = "*"
werkzeug = "*"
raven = {extras = ["flask"]}
greenlet = "*"
gevent = "*"
flask-compress = "*"
django-htmlmin = "*"
