body {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.profbit-blue {
  background-color: #0059AB !important;
}

.profbit-blue-text {
  color: #0059AB !important;
}

nav {
  box-shadow: none;
}

nav ul a {
  color: black;
}

nav a {
  color: black;
}

.tab {
  cursor: pointer;
}

.small-caps {
  font-variant-caps: small-caps;
}

.flex-center {
  justify-content: center;
}

.border-right {
  border-right: 1px solid #DAE1E9;
}

.border-left {
  border-left: 1px solid #DAE1E9;
}

.border-bottom {
  border-bottom: 1px solid #DAE1E9;
}

.border-top {
  border-top: 1px solid #DAE1E9;
}

.no-margin {
  margin-bottom: 0px;
}

.small-margin {
  margin-bottom: 5px;
}

.social-icon {
  width: 24px;
  height: 24px;
  background-color: white;
  display: inline-block;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.github-icon {
  -webkit-mask-image: url("../img/github-logo.png");
  mask-image: url("../img/github-logo.png");
}

#github-mobile-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.github-buttons iframe {
  float: right;
  margin-right: 2px;
  margin-left: 2px;
}

.logo {
  width: 85px;
  height: 64px;
}

@media only screen and (max-width: 425px) {
  .logo {
    width: 75px;
    height: 55px;
  }
  .row .col {
    padding: 0 .3rem;
  }
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: inline-block;
  padding: 5px;
}

.currency-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
  background-color: white;
  display: inline-block;
}

.total-icon {
  background-image: url("/static/img/total.svg");
}

.btc-icon {
  background-image: url("/static/img/bitcoin.svg");
}

.bch-icon {
  background-image: url("/static/img/bitcoin-cash.svg");
}

.eth-icon {
  background-image: url("/static/img/etherum.svg");
}

.ltc-icon {
  background-image: url("/static/img/litecoin.svg");
}


/* index.css */

.index-intro {
  min-height: 55vh;
}

.index-banner {
  min-height: 25vh
}

.cta-text {
  margin-bottom: 20px;
}

.preview-img {
  width: 100%;
}

.sm-text {
  font-size: .9rem;
}

.step-img {
  width: 256;
  height: 256px
}

@media only screen and (max-width: 425px) {
  .index-intro-text {
    display: block;
    padding-top: 10vh;
  }
  .sm-text {
    font-size: .75rem;
  }
}
