version: 2
jobs:
  build:
    working_directory: ~/profbit
    docker:
        - image: python:3.6.3
    steps:
      - checkout
      - run: make installdeps
      - run: pipenv run "make test && codecov"
