<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block page_title %} Profbit - See you Coinbase profits {% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% block extra_styles %}
  {% endblock %}
</head>
<body>
  <nav class="light-blue accent-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ url_for('index') }}" class="brand-logo">Profbit</a>
      <ul class="right hide-on-med-and-down valign-wrapper">
        <li class="no-hover">
          <a class="valign-wrapper" target="_blank" href="https://github.com/joshblum/profbit/">
            <span class="social-icon github-icon"></span></a>
        </li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('stats') }}">My Stats</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ config.LOGIN_URL }}">Login</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="no-hover">
          <a id="github-mobile-nav" class="valign-wrapper" target="_blank" href="https://github.com/joshblum/profbit/">
            <span class="black social-icon github-icon"></span></a>
        </li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('stats') }}">My Stats</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ config.LOGIN_URL }}">Login</a></li>
        {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <main>
  {% block main %}
  {% endblock %}
  </main>
  <footer class="light-blue accent-4">
    <div class="container">
        <div class="col l6 s12 valign-wrapper right">
        <a class="github-button" href="https://github.com/joshblum/profbit"
          data-size="large" data-show-count="true" aria-label="Star
          joshblum/profbit on GitHub">Star</a>
        <a class="github-button"
          href="https://github.com/joshblum/profbit/issues" data-size="large"
          data-show-count="true" aria-label="Issue joshblum/profbit on
        GitHub">Issue</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="{{ url_for('static', filename='js/libs/jquery-3.2.1.min.js') }}"></script>
  {% if sentry_public_dsn %}
    <script src="https://cdn.ravenjs.com/3.20.0/raven.min.js" crossorigin="anonymous"></script>
    <script type="text-javascript">
        Raven.config({{ sentry_public_dsn }}).install();
    </script>
  {% endif %}
  <script src="{{ url_for('static', filename='js/libs/materialize.min.js') }}"></script>
  {% block extra_scripts %}
  {% endblock %}
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  </body>
</html>
