{% extends "base.html" %}
{% block page_title %} {{ page_title }} {% endblock %}
{% block main %}

<div class="row">
  <div class="col s12 center flow-text">
    <h1> {{ error_title }} </h1>
    <h4>
      Looks like an error.
    </h4>
    <div>
      We're working on it as fast as we can.
    </div>
    <div>
      In the meantime, head back <a href="{{ url_for('index') }}">home</a>.
    </div>
  </div>
</div>

{% if refresh_stats %}
  <script type="text/javascript">
    setTimeout(function() {
        window.location.replace("{{ url_for('stats') }}");
    }, 10*1000);
  </script>
{% endif %}

{% if event_id %}
  <script type="text/javascript">
    Raven.showReportDialog(
    {
      eventId: '{{ event_id }}',
      dsn: '{{ sentry_public_dsn }}'
    });
  </script>
{% endif %}
{% endblock %}
