{% extends "base.html" %}

{% block extra_styles %}
  {% if config.GOOGLE_ANALYTICS_ID %}
    <!-- Only track homepage views -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_ANALYTICS_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.GOOGLE_ANALYTICS_ID }}');
    </script>
  {% endif %}
{% endblock %}

{% block main %}
{% include "fork-me.html" %}
<div class="section valign-wrapper index-intro">
  <div class="container">
    <div class="row valign-wrapper index-intro-text">
      <div class="col s12 m4 center">
        <div class="cta-text flow-text black-text">
          Track your bitcoin, ethereum, and litecoin gains and losses in one
          place.
        </div>
        {% if current_user.is_authenticated %}
          {% set cta_url=url_for('stats') %}
          {% set cta_text="My Stats" %}
        {% else %}
          {% set cta_url=config.LOGIN_URL %}
          {% set cta_text="Login with Coinbase" %}
        {% endif %}
          <a href="{{ cta_url }}" class="btn-large waves-effect waves-light profbit-blue white-text">{{ cta_text }}</a>
      </div>
      <div class="col s6 hide-on-small-only">
        <img class="preview-img" src="{{ url_for('static', filename='img/preview.gif') }}" />
      </div>
    </div>
    <div class="row hide-on-med-and-up">
      <div class="col s12">
        <img class="preview-img" src="{{ url_for('static', filename='img/preview.gif') }}" />
      </div>
    </div>
  </div>
</div>
<div class="section center profbit-blue white-text index-banner valign-wrapper">
  <div class="row no-margin">
    <div class="col s12 flow-text">
      <div>
        Easy, free, and completely open source.
      </div>
      <div>
        We never store any of your data.
      </div>
      <div class="sm-text">
        We use read-only access to your Coinbase transactions to calculate your
        profits on the fly.
      </div>
    </div>
  </div>
</div>
{% endblock %}
