{% extends "base.html" %}

{% block extra_styles %}
  <link href="{{ url_for('static', filename='css/stats.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block main %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s6">
        <h2 class="header black-text">See your Coinbase profits.</h2>
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('stats') }}" class="btn-large waves-effect waves-light light-blue accent-4">View My Stats</a>
        {% else %}
          <a href="{{ config.LOGIN_URL }}" class="btn-large waves-effect waves-light light-blue accent-4">Login with Coinbase</a>
        {% endif %}
      </div>
      <div class="col s6">
        <!-- TODO(joshblum) change this lol -->
        <img class="demo-image" src="https://d2ue93q3u507c2.cloudfront.net/assets/marketing/images/home_redesign/Web_laptop.png"/>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
