{% extends "base.html" %}

{% block extra_styles %}
  <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% if config.GOOGLE_ANALYTICS_ID %}
    <!-- Only track homepage views -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GOOGLE_ANALYTICS_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.GOOGLE_ANALYTICS_ID }}');
    </script>
  {% endif %}
{% endblock %}

{% block main %}
<a href="https://github.com/joshblum/profbit/" target="_blank"><img style="position: absolute; top: 0; right:
  0; border: 0;"
  src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
alt="Fork me on GitHub"
data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row valign-wrapper">
      <div class="col s6">
        <h2 class="header black-text">See your Coinbase profits.</h2>
        {% if current_user.is_authenticated %}
          {% set cta_url=url_for('stats') %}
          {% set cta_text="View My Stats" %}
        {% else %}
          {% set cta_url=config.LOGIN_URL %}
          {% set cta_text="Login with Coinbase" %}
        {% endif %}
          <a href="{{ cta_url }}" class="btn-large waves-effect waves-light white black-text">{{ cta_text }}</a>
      </div>
      <div class="col s6">
        <!-- TODO(joshblum) change this lol -->
        <img class="demo-image" src="https://d2ue93q3u507c2.cloudfront.net/assets/marketing/images/home_redesign/Web_laptop.png"/>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
