{% extends "base.html" %}

{% block page_title %} Profbit - My Stats {%endblock %}

{% block extra_styles %}
  <link href="{{ url_for('static', filename='css/stats.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block main %}
<div class="preloader-container container valign-wrapper flex-center">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<div class="stats-container container" style="display: none;">
  <div class="tab-row row">
    <div class="col m6 s12">
      <ul id="currencyTabs" class="tabs">
        <li class="tab col s1 m2">
          <a data-currency="BTC" class="valign-wrapper flex-center">
            <span class="BTC-icon currency-icon"></span>
          </a>
        </li>
        <li class="tab col s1 m2">
          <a data-currency="ETH" class="valign-wrapper flex-center">
            <span class="ETH-icon currency-icon"></span>
          </a>
        </li>
        <li class="tab col s1 m2">
          <a data-currency="LTC" class="valign-wrapper flex-center">
            <span class="LTC-icon currency-icon"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col m6 s12">
      <ul id="periodTabs" class="tabs">
        <li class="tab col s2"><a data-period="hour">1h</a></li>
        <li class="tab col s2"><a data-period="day">1d</a></li>
        <li class="tab col s2"><a data-period="week">1w</a></li>
        <li class="tab col s2"><a data-period="month">1m</a></li>
        <li class="tab col s2"><a data-period="year">1y</a></li>
        <li class="tab col s2"><a data-period="all">all</a></li>
      </ul>
    </div>
  </div>
  <div class="row small-margin center flow-text border-bottom">
    <div class="col s4 investment-container border-right">
        <span id="periodInvestment" class="investment-amount"></span>
        <span class="investment-description">invested</span>
    </div>
    <div class="col s4 investment-container border-right">
        <span id="periodReturnInvestment" class="investment-amount">
        </span>
        <span class="investment-description"></span>
    </div>
    <div class="col s4 investment-container">
        <span id="periodReturnPercent" class="investment-amount">
        </span>
        <span class="investment-description"></span>
    </div>

  </div>
  <div class="row center">
    <div id="periodDescription" class="col s12 small-caps">
    </div>
  </div>
  <div class="row">
    <div class="chart-container col s12">
        <canvas id="historicDataChart"></canvas>
    </div>
  </div>
  </div>
</div>

{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/libs/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/Chart.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
{% endblock %}
